﻿/* CSS Document */
*   {
    font-family: verdana,arial,sans-serif;
}
body    {
    width: 80%;
    background-color: #000000;
    margin-left: 10%;
    background-image: url(images/bg/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main    {
    background-color: #99653895;
    overflow: auto;   
}
header  {
    overflow: auto;
    background-color: #99653895;
}
article img {
    float: left;
}
.articleright {
    float: right;
}
.fade   {
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}
article {
    margin-top: 50px;
    margin-bottom: 50px;
    clear: both;
    text-align: center;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
article h2  {
    padding-top: 5%;
}
a {
    text-decoration: none;
    color: beige;    
}
a:hover {
    color: burlywood;
    text-shadow: 2px 2px 1px black;
}
h1  {
    text-align: center;
    font-size: 45px;
    color: beige;
}
h2  {
    font-size: 35px;
    color: beige;
}
p, li   {
    color: beige;
    font-size: 25px;
}
footer  {
    background-color: #99653895;
    text-align: center;  
}
footer p    {
    font-size: 20px; 
}
article p   {
    padding-top: 5%;
}
iframe  {
    border-radius: 20px;
    float: left;
}
ul  {
    list-style: none;
}
nav li  {
    display: inline-block;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 3%;
}

.logo   {
    float: left;
}
.contact p    {
    font-size: 30px;
}
article iframe  {
    margin-left: 5%;
}
.clearh {
    clear: both;
    text-align: center;
}
.formular   {
    margin: auto;
    font-size: 20px;
    text-align: center;
    background-image: url(images/bg/bg.jpg);
    width: 700px;
    height: 300px;
    border-radius: 20px;
    border: 5px solid;
    border-color: burlywood;
}
input[type=submit]  {
    font-size: 20px;
    border-radius: 5px;
    background-color: #996538;
    color: beige;
}
textarea    {
    font-size: 20px;
}
.gallery img {
    margin-left: 4.5%;
    margin-bottom: 5%;
    border: 5px solid;
    border-color: burlywood;
}
img:hover   {
    border-color: saddlebrown;
}
.text p   {
    font-size: 20px;
}
table   {
    margin-left: 5%;
}
th, td    {
    font-size: 25px;
    color: beige;
    text-align: left;
    font-weight: normal;
}
p a {
    color: burlywood;
    text-decoration: underline;
}



